<body>
<div class="container">
    <div id="title">
        <h1>Pivotal Videos</h1>
    </div>
    <div id="survey">
        <h4>Welcome! <a href="http://goo.gl/forms/ALV9VISrcl" target="blank" onclick="mixpanel.track('clicked survey');">Please tell us why you're here.</a></h4>
    </div>
    <div class="section">
        <div class="section-title">RECOMMENDATIONS</div>
        <div class="row flex-row">
            <a href="https://www.youtube.com/watch?v=Z_Q4Q8rCVpU" onclick="mixpanel.track('clicked recommendation-BalancedTeam');">
                <div class="col-lg-4 recommendation-box">
                    <h4>Balanced Team</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Janice Fraser</p>
                            <p><i>53:54</i></p>
                        </div>
                        <div class="col-lg-6 right-align">
                            <p><i>July 9, 2015</i></p>
                            <p><i>San Francisco</i></p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.youtube.com/watch?v=z4297-wLX5c&index=4&list=PLAdzTan_eSPR3RU4yPL4oBJ6nwcsoofnU" onclick="mixpanel.track('clicked recommendation-LeanMicroservices');">
                <div class="col-lg-4 recommendation-box">
                    <h4>Building Lean Microservices</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Jeff Taylor</p>
                            <p><i>41:48</i></p>
                        </div>
                        <div class="col-lg-6 right-align">
                            <p><i>April 12, 2016</i></p>
                            <p><i>Santa Monica</i></p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="https://www.youtube.com/watch?v=Jq4zwbqCYHc" onclick="mixpanel.track('clicked recommendation-LeanMicroservices');">
                <div class="col-lg-4 recommendation-box">
                    <h4>Enterprise Fu</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Mike Dalessio</p>
                            <p><i>46:09</i></p>
                        </div>
                        <div class="col-lg-6 right-align">
                            <p><i>April 26, 2016</i></p>
                            <p><i>New York</i></p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="section">
        <div class="section-title">TECH TALKS</div>
        <div class="row flex-row">
            <a href="https://drive.google.com/a/pivotal.io/folderview?id=0B2t-9W9ZuJpoVlJOTUZGU3BrUzQ&usp=sharing" onclick="mixpanel.track('clicked TechTalks-DC');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h4>D.C.</h4>
                    <p>4 videos</p>
                </div>
            </a>
            <a href="https://sites.google.com/a/pivotal.io/pivotalwiki/officesandfacilities/palo-alto/tech-talk-videos/pasttechvideos" onclick="mixpanel.track('clicked TechTalks-PaloAlto');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h4>Palo Alto</h4>
                    <p>1 video</p>
                </div>
            </a>
            <a href="http://original.livestream.com/pivotallabs" onclick="mixpanel.track('clicked TechTalks-NewYork');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h4>New York</h4>
                    <p>174 videos</p>
                </div>
            </a>
            <a href="https://drive.google.com/a/pivotal.io/folderview?id=0B_HpTC2NK2ogSGtNOXBQUk1WQTQ&usp=sharing" onclick="mixpanel.track('clicked TechTalks-SanFrancisco');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h4>San Francisco</h4>
                    <p>55 videos</p>
                </div>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLAdzTan_eSPR3RU4yPL4oBJ6nwcsoofnU" onclick="mixpanel.track('clicked TechTalks-SantaMonica');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h4>Santa Monica</h4>
                    <p>4 videos</p>
                </div>
            </a>
            <a href="http://original.livestream.com/pivotallabstoronto" onclick="mixpanel.track('clicked TechTalks-Toronto');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h4>Toronto</h4>
                    <p>162 videos</p>
                </div>
            </a>
        </div>
    </div>
    <div class="section">
        <div class="section-title">CORE PRACTICE TALKS</div>
        <div class="row flex-row-left">
            <div class="col-sm-2 col-md-2 col-lg-2 core-practice-talk-box">
                <a href="http://pivotal-guides.cfapps.io/craftsmanship/core-practice-talks/" onclick="mixpanel.track('clicked CorePractice-NY);"><h4>Pivotal Guides</h4></a>
                <p>37 videos</p>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 core-practice-talk-box">
                <a href="http://pivotal-guides.cfapps.io/craftsmanship/core-practice-talks/" onclick="mixpanel.track('clicked CorePractice-Wiki);"><h4>Pivotal Wiki</h4></a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="section-title">INDIVIDUAL TALKS</div>
        <%= link_to "Add Video", new_video_path, class: "btn btn-primary", onclick: "mixpanel.track('clicked button-addvideo')" %>
        <div class="row individual-talk-header">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Talk Name
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                Description
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Presenter Name
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Duration
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Date
            </div>
        </div>
        <div class="individual-talk-container">
            <% Video.all.each do |video| %>
            <div class="row individual-talk">
                <a href="<%= video.url %>"><div class="col-sm-2 col-md-2 col-lg-2">
                    <%= video.name %>
                </div></a>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <%= video.description %>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2">
                    <%= video.presenter %>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <%= video.duration %>
                </div>
                <div class="col-sm-1 col-md-1 col-lg-1">
                    <%= video.date %>
                </div>
                <a href="<%= video.slides %>" onclick="mixpanel.track('clicked IndividualTalk-TendSprint-Slides');"><div class="col-sm-2 col-md-2 col-lg-2">
                    Slides
                </div></a>
            </div>
            <% end %>
        </div>
        <!--<div class="row">-->
            <!--<a href="https://drive.google.com/a/pivotal.io/folderview?id=0B2L2KV3WW6d1Zm5oV01PWDhwYmc&usp=sharing"><div class="col-sm-2 col-md-2 col-lg-2">-->
                <!--Tend Opportunity Sprint-->
            <!--</div></a>-->
            <!--<div class="col-sm-2 col-md-2 col-lg-2">-->
                <!--Jay Badenhope, Andi Plantenberg-->
            <!--</div>-->
            <!--<div class="col-sm-2 col-md-2 col-lg-2">-->
                <!--19:04-->
            <!--</div>-->
            <!--<div class="col-sm-2 col-md-2 col-lg-2">-->
                <!--05/12/16-->
            <!--</div>-->
            <!--<a href="https://drive.google.com/a/pivotal.io/folderview?id=0B2L2KV3WW6d1Zm5oV01PWDhwYmc&usp=sharing" onclick="mixpanel.track('clicked IndividualTalk-TendSprint-Slides');"><div class="col-sm-2 col-md-2 col-lg-2">-->
                <!--Slides-->
            <!--</div></a>-->
        <!--</div>-->
    </div>
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>
