<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Pivotal Videos</title>

    <!-- Bootstrap -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/index.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
    for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("ae6ccedae87414598564c1e860afcfc9");</script><!-- end Mixpanel -->
</head>
<body>
<div class="container">
    <div>
        <h1>Pivotal Videos</h1>
    </div>
    <div id="survey" class="section">
        <h2>Welcome! <a href="http://goo.gl/forms/ALV9VISrcl" target="blank" onclick="mixpanel.track('clicked survey');">Please tell us why you're here.</a></h2>
    </div>
    <div class="section">
        <h2>Recommendations</h2>
        <div class="row">
            <a href="https://www.youtube.com/watch?v=Z_Q4Q8rCVpU" onclick="mixpanel.track('clicked recommendation-BalancedTeam');">
            <div class="col-lg-4 recommendation-box">
                <h3>Balanced Team</h3>
                <p>Janice Fraser</p>
                <p><i>San Francisco</i></p>
                <p><i>July 9, 2015</i></p>
                <p><i>53:54</i></p>
            </div>
            </a>
            <a href="https://www.youtube.com/watch?v=z4297-wLX5c&index=4&list=PLAdzTan_eSPR3RU4yPL4oBJ6nwcsoofnU" onclick="mixpanel.track('clicked recommendation-LeanMicroservices');">
                <div class="col-lg-4 recommendation-box">
                    <h3>Building Lean Microservices</h3>
                    <p>Jeff Taylor</p>
                    <p><i>Santa Monica</i></p>
                    <p><i>April 12, 2016</i></p>
                    <p><i>41:48</i></p>
                </div>
            </a>
            <a href="https://www.youtube.com/watch?v=Jq4zwbqCYHc" onclick="mixpanel.track('clicked recommendation-LeanMicroservices');">
                <div class="col-lg-4 recommendation-box">
                    <h3>Enterprise Fu</h3>
                    <p>Mike Dalessio</p>
                    <p><i>New York</i></p>
                    <p><i>April 26, 2016</i></p>
                    <p><i>46:09</i></p>
                </div>
            </a>
        </div>
    </div>
    <div class="section">
        <h2>Tech Talks</h2>
        <div class="row">
            <a href="https://sites.google.com/a/pivotal.io/pivotalwiki/officesandfacilities/palo-alto/tech-talk-videos/pasttechvideos" onclick="mixpanel.track('clicked TechTalks-PaloAlto');">
            <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                <h3>Palo Alto</h3>
                <p>1 video</p>
            </div>
            </a>
            <a href="http://original.livestream.com/pivotallabs" onclick="mixpanel.track('clicked TechTalks-NewYork');">
            <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                <h3>New York</h3>
                <p>4 videos</p>
            </div>
            </a>
            <a href="https://drive.google.com/a/pivotal.io/folderview?id=0B_HpTC2NK2ogSGtNOXBQUk1WQTQ&usp=sharing" onclick="mixpanel.track('clicked TechTalks-SanFrancisco');">
            <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                <h3>San Francisco</h3>
                <p>20 videos</p>
            </div>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLAdzTan_eSPR3RU4yPL4oBJ6nwcsoofnU" onclick="mixpanel.track('clicked TechTalks-SantaMonica');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h3>Santa Monica</h3>
                    <p>4 videos</p>
                </div>
            </a>
            <a href="https://www.youtube.com/playlist?list=PLAdzTan_eSPR3RU4yPL4oBJ6nwcsoofnU" onclick="mixpanel.track('clicked TechTalks-Toronto');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h3>Toronto</h3>
                    <p>4 videos</p>
                </div>
            </a>
            <a href="https://drive.google.com/a/pivotal.io/folderview?id=0B2t-9W9ZuJpoVlJOTUZGU3BrUzQ&usp=sharing" onclick="mixpanel.track('clicked TechTalks-DC');">
                <div class="col-sm-2 col-md-2 col-lg-2 tech-talk-box">
                    <h3>Washington, D.C.</h3>
                    <p>4 videos</p>
                </div>
            </a>
        </div>
    </div>
    <div class="section">
        <h2>Core Practice Talks</h2>
        <a href="http://pivotal-guides.cfapps.io/craftsmanship/core-practice-talks/" onclick="mixpanel.track('clicked CorePractice-NY);">Videos on New York's Pivotal Guides</a>
    </div>
    <div class="section">
        <h2>Individual Talks</h2>
        Need a place to upload your video? Try our <a href="https://drive.google.com/a/pivotal.io/folderview?id=0B2L2KV3WW6d1Zm5oV01PWDhwYmc&usp=sharing" onclick="mixpanel.track('clicked Google Drive');">Google Drive</a>.
        <p><button>Add Video</button></p>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2">
                Talk Name
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Presenter Name
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Duration
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                Date
            </div>
        </div>
    </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>